<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='WebApp Foto')}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><i class="fa-solid fa-camera"></i></a>
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled">Disabled</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="m-3">
    <a th:href="@{/create}">
        <button class="btn btn-primary mb-3">Aggiungi una foto</button>
    </a>
    <div class="d-flex gap-4" th:if="${fotoList.size() > 0}">
        <div class="card" th:each="foto : ${fotoList}">
            <div>
                <a th:href="@{|/detail/${foto.id}|}"><img class="img-fluid" style="height: 200px; width: 200px;"
                                                          th:src="@{${foto.url}}"></a>
            </div>
            <div>
                <p th:text="${foto.titolo}"></p>
                <p th:text="${foto.descrizione}"></p>
                <div class="d-flex justify-content-evenly">
                    <a href="#">
                        <button class="btn btn-warning"><i class="fa-solid fa-pen"></i></button>
                    </a>
                    <a href="#">
                        <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<h1 th:if="${fotoList.size() == 0}">Nessuna foto presente 😒</h1>
</body>
</html>