<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='I miei messaggi')}">
</head>
<body>
<h1 style="text-align: center;">
    I miei messaggi
</h1>
<div class="container" th:each="messaggio : ${messaggioList}">
    <div class="card border border-warning-subtle my-3">
        <div class="p-2 mt-4 col-6">
            <h2>
                Mittente:
            </h2>
            <h4 th:text="${messaggio.email}">
            </h4>
        </div>
        <div class="p-2 col-6">
            <h2>
                Messaggio:
            </h2>
            <p th:text="${messaggio.testo}">
            </p>
        </div>
    </div>
</div>
</body>
</html>